<% provide :title, "設定" %>

<%= form_with model: @student, url: profile_path, local: true do |form| %>
  <%= render 'error_messages', errors: @student.errors %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: 'form-label' %>
    <%= form.url_field :url, class: 'form-control', required: true %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>

