<% provide :title, "プロフィール" %>

<nav class="nav nav-pills mb-3">
  <%= link_to '設定', preference_path, class: 'nav-link' %>
  <%= link_to 'プロフィール', profile_path, class: 'nav-link active' %>
</nav>

<%= form_with model: @student, url: profile_path do |form| %>
  <%= render 'error_messages', errors: @student.errors %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: 'form-label' %>
    <%= form.url_field :url, class: 'form-control', required: true %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>

