<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <link rel="stylesheet" href="main.css" type="text/css"/>
  </head>
  <body>
    <% unless work.summary.nil? %>
      <h2>
        <small>梗概</small><br/>
        <%= work.summary_title %>
      </h2>
      <p class="character-count"><%= work.summary_character_count %> 字</p>
      <%= work.summary.to_xhtml.strip %>
    <% end %>

    <% unless work.appeal.nil? %>
      <h3>アピール文</h3>
      <p class="character-count"><%= work.appeal_character_count %> 字</p>
      <%= work.appeal.to_xhtml.strip %>
    <% end %>

    <% unless work.body.nil? %>
      <h2>
        <small>実作</small><br/>
        <%= work.title %>
      </h2>
      <p class="character-count"><%= work.character_count %> 字</p>
      <%= work.body.to_xhtml.strip %>
    <% end %>
  </body>
</html>
