<div class="col">
  <section class="card mb-3">
    <div class="card-body">
      <header class="d-flex justify-content-between align-items-start">
        <h1 class="card-title h5"><%= student.name %></h1>
        <% if student.votes_sum > 0 %>
          <span class="badge rounded-pill bg-primary"><%= icon('fas', 'thumbs-up', student.votes_sum) %></span>
        <% end %>
      </header>
      <ul class="card-text list-inline">
        <% if student.jissakus_count > 0 %>
          <li class="list-inline-item">
            <span class="badge bg-success">実作 <%= student.jissakus_count %></span>
          </li>
        <% end %>
        <% if student.kougais_count > 0 %>
          <li class="list-inline-item">
            <span class="badge bg-info">梗概 <%= student.kougais_count %></span>
          </li>
        <% end %>
      </ul>
      <p class="card-text text-secondary">
        <%= student.description %>
      </p>
      <%= link_to icon('fas', 'list', '作品一覧へ'), student, class: 'btn btn-sm btn-outline-primary stretched-link' %>
    </div>
  </section>
</div>
