<% provide :title, @student.name %>
<% provide :description, @student.description %>
<% content_for :head do %>
  <%= javascript_include_tag 'students-show', type: 'module' %>
<% end %>

<header class="card mb-3">
  <div class="card-body">
    <h1 class="card-title"><%= @student.name %></h1>
    <ul class="card-text list-inline">
      <li class="list-inline-item">
        <%= link_to icon('fas', 'external-link-alt', @student.url_host), @student.url, class: 'link-secondary', target: '_blank' %>
      </li>
      <% if @student.user %>
        <li class="list-inline-item">
          <%= link_to icon('fab', 'twitter', "@#{@student.user.twitter_screen_name}"), twitter_profile_url(@student.user.twitter_screen_name), class: 'link-secondary', target: '_blank' %>
        </li>
      <% end %>
    </ul>
    <p class="card-text lead"><%= @student.description %></p>
    <% if current_user && current_user == @student.user %>
      <%= link_to icon('fas', 'edit', 'プロフィールを編集する'), profile_path, class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </div>

  <ul class="list-group list-group-flush">
    <% @stats.each do |stats| %>
      <li class="list-group-item">
        <%= render 'stats', stats: stats %>
      </li>
    <% end %>
  </ul>
</header>

<% if @student.jissakus.exists? %>
  <section class="mb-3" id="jissaku">
    <header class="border-bottom mb-3">
      <h3>実作</h3>
    </header>
    <div id="jissaku-list" data-jissakus-path="<%= student_jissakus_path(@student) %>"></div>
  </section>
<% end %>

<% if @student.kougais.exists? %>
  <section class="mb-3" id="kougai">
    <header class="border-bottom mb-3">
      <h3>梗概</h3>
    </header>
    <div id="kougai-list" data-kougais-path="<%= student_kougais_path(@student) %>"></div>
  </section>
<% end %>
