<% provide :title, @student.name %>
<% provide :description, @student.description %>

<header class="card mb-3">
  <div class="card-body">
    <h1 class="card-title"><%= @student.name %></h1>
    <ul class="card-text list-inline">
      <li class="list-inline-item">
        <%= link_to icon('fas', 'external-link-alt', @student.url_host), @student.url, class: 'link-secondary', target: '_blank' %>
      </li>
      <% if @student.user %>
        <li class="list-inline-item">
          <%= link_to icon('fab', 'twitter', "@#{@student.user.twitter_screen_name}"), twitter_profile_url(@student.user.twitter_screen_name), class: 'link-secondary', target: '_blank' %>
        </li>
      <% end %>
    </ul>
    <p class="card-text lead"><%= @student.description %></p>
    <% if current_user && current_user == @student.user %>
      <%= link_to icon('fas', 'edit', 'プロフィールを編集する'), profile_path, class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </div>
</header>

<% @votes_sum_by_year.each do |year, votes_sum| %>
  <section class="mb-3" id="<%= year %>">
    <header class="text-center mb-3">
      <h2>
        <%= year %>
        <span class="badge rounded-pill bg-primary">
          <%= icon('fas', 'thumbs-up', votes_sum) %>
        </span>
      </h2>
    </header>

    <% if (jissakus = @jissakus_by_year[year]).present? %>
      <section class="mb-3" id="<%= year %>-jissaku">
        <header class="border-bottom mb-3">
          <h3>
            実作
            <span class="badge rounded-pill bg-success">
              <%= jissakus.size %> 編
            </span>
          </h3>
        </header>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          <%= render jissakus, header: :kadai %>
        </div>
      </section>
    <% end %>

    <% if (kougais = @kougais_by_year[year]).present? %>
      <section class="mb-3" id="<%= year %>-kougai">
        <header class="border-bottom mb-3">
          <h3>
            梗概
            <span class="badge rounded-pill bg-info">
              <%= kougais.size %> 編
            </span>
          </h3>
        </header>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          <%= render kougais, header: :kadai %>
        </div>
      </section>
    <% end %>
  </section>
<% end %>
