<% provide :description, translate('app.description') %>

<header class="bg-light p-4 p-md-5 rounded-3 mb-3">
  <h1 class="mb-3"><span class="text-light bg-dark bg-gradient">裏</span>SF創作講座</h1>
  <p class="lead">
    <%= link_to 'ゲンロン 大森望 SF創作講座', genron_sf_url, class: 'link-dark', target: '_blank' %>
    の裏サイト（ファンサイト）。<br>
    非公式に作品に投票したり、非公式に作品を投稿したりできます。<br>
  </p>
  <p>
    <% if current_user %>
      <iframe src="https://github.com/sponsors/fuji-nakahara/button" title="Sponsor fuji-nakahara" height="35" width="116" style="border: 0;"></iframe>
    <% else %>
      <%= link_to icon('fab', 'twitter', 'Twitter でログイン'), '/auth/twitter', method: :post, class: 'btn btn-primary' %>
    <% end %>
  </p>
</header>

<section class="mb-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <%= render @kadais %>
  </div>
</section>

<section class="mb-3">
  <header class="border-bottom mb-3">
    <h2>コメント募集中の下書き（β）</h2>
  </header>

  <div class="d-grid gap-1 d-md-block mb-3">
    <%= link_to icon('fas', 'pen-nib', '下書きを投稿する'), new_draft_path, class: 'btn btn-outline-primary' %>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <%= render @drafts %>
  </div>
</section>

<div class="row row-cols-1 row-cols-md-2 mb-3">
  <section class="col">
    <header class="border-bottom mb-3">
      <h2>アクティビティ</h2>
    </header>

    <div class="list-group mb-3">
      <%= render @votes %>
    </div>
  </section>

  <section class="col">
    <a class="twitter-timeline" href="https://twitter.com/genron_sf_fun?ref_src=twsrc%5Etfw">Tweets by genron_sf_fun</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>
</div>
