<% provide :description, translate('app.description') %>

<header class="bg-light p-4 p-md-5 rounded-lg mb-3">
  <h1 class="mb-3"><span class="text-light bg-dark bg-gradient">裏</span>SF創作講座</h1>
  <p class="lead">
    <%= link_to 'ゲンロン 大森望 SF創作講座', genron_sf_url, class: 'link-dark', target: '_blank' %>
    の裏サイト（ファンサイト）。<br>
    非公式に作品に投票したり、非公式に作品を投稿したりできます。<br>
  </p>
  <p>
    <% if current_user %>
      <iframe src="https://github.com/sponsors/fuji-nakahara/button" title="Sponsor fuji-nakahara" height="35" width="116" style="border: 0;"></iframe>
    <% else %>
      <%= link_to icon('fab', 'twitter', 'Twitter でログイン'), '/auth/twitter', method: :post, class: 'btn btn-lg btn-primary' %>
    <% end %>
  </p>
</header>

<section class="mb-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <%= render @kadais %>
  </div>
</section>

<section class="mb-5">
  <div class="list-group">
    <%= render @votes %>
  </div>
</section>

<section class="d-none d-lg-block mb-5">
  <canvas class="mb-2" id="score-chart" data-controller="score-chart" data-score-chart-endpoint="<%= score_path(@kadais.last.year) %>"></canvas>
  <%= link_to icon('fas', 'external-link-alt', '超・SF作家育成サイトで詳細を確認'), GenronSF::ScoreTable.build_url(year: @kadais.last.year), class: 'btn btn-outline-primary', target: '_blank' %>
</section>

<section class="mb-5">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <a class="twitter-timeline" data-lang="ja" data-theme="light" href="https://twitter.com/genron_sf_fun?ref_src=twsrc%5Etfw">Tweets by genron_sf_fun</a>
    </div>
    <div class="col">
      <a class="twitter-timeline" data-lang="ja" data-theme="light" href="https://twitter.com/genronschool?ref_src=twsrc%5Etfw">Tweets by genronschool</a>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</section>
