<% provide :title, "設定" %>

<nav class="nav nav-pills mb-3">
  <%= link_to '設定', preference_path, class: 'nav-link active' %>
  <%= link_to 'プロフィール', profile_path, class: 'nav-link' %>
</nav>

<%= form_with model: @preference, url: preference_path do |form| %>
  <%= render 'error_messages', errors: @preference.errors %>

  <div>
    <%= form.label :works_order, class: 'form-label' %>
  </div>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <%= form.radio_button :works_order, 'default', class: 'form-check-input' %>
      <%= form.label :works_order_default, '得票数・投稿日時順', class: 'form-check-label' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :works_order, 'genron_sf', class: 'form-check-input' %>
      <%= form.label :works_order_genron_sf, '超・SF作家育成サイト順', class: 'form-check-label' %>
    </div>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
