<% provide :title, 'Admin' %>

<section class="mb-3">
  <header>
    <h2>受講生マージ</h2>
  </header>
  <%= form_with url: merge_admin_students_path do |form| %>
    <div class="mb-3">
      <%= form.label :genron_sf_id, 'genron_sf_student_id', class: 'form-label' %>
      <%= form.text_field :genron_sf_id, list: 'genron_sf_student_ids', class: 'form-control' %>
      <datalist id="genron_sf_student_ids">
        <% @genron_sf_student_ids.each do |genron_sf_student_id| %>
          <option value="<%= genron_sf_student_id %>"></option>
        <% end %> %>
      </datalist>
    </div>
    <div class="mb-3">
      <%= form.label :twitter_screen_name, 'twitter_screen_name', class: 'form-label' %>
      <%= form.text_field :twitter_screen_name, list: 'twitter_screen_names', class: 'form-control' %>
      <datalist id="twitter_screen_names">
        <% @twitter_screen_names.each do |twitter_screen_name| %>
          <option value="<%= twitter_screen_name %>"></option>
        <% end %> %>
      </datalist>
    </div>
    <%= form.submit '実行', class: 'btn btn-primary' %>
  <% end %>
</section>

<hr>

<section class="mb-3">
  <header>
    <h2>賞</h2>
  </header>
  <%= form_with model: Prize.new, url: admin_prizes_path do |form| %>
    <div class="mb-3">
      <%= label_tag :genron_sf_id, 'genron_sf_id', class: 'form-label' %>
      <%= number_field_tag :genron_sf_id, nil, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :position, class: 'form-label' %>
      <%= form.number_field :position, class: 'form-control' %>
    </div>
    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</section>

<hr>

<section class="mb-3">
  <header>
    <h2>リンク</h2>
  </header>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>作成日時</th>
        <th>課題</th>
        <th>タイトル</th>
        <th>ドメイン</th>
        <th>ユーザー</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @links.includes(:kadai, :user).each do |link| %>
        <tr>
          <td><%= localize link.created_at %></td>
          <td><%= link_to link.kadai.human_year_round, link.kadai %></td>
          <td><%= link_to link.title, link.url, target: '_blank' %></td>
          <td><%= link_to link.url_domain, link.url, target: '_blank' %></td>
          <td>
            <%= link_to twitter_profile_url(link.user.twitter_screen_name), target: '_blank' do %>
              <%= image_tag link.user.image_url, size: '24x24', class: 'border rounded-circle' %>
              <%= link.user.twitter_screen_name %>
            <% end %>
          </td>
          <td><%= link_to '削除', link, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
