<div class="col">
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-subtitle text-muted mb-1">
        <% if local_assigns[:header] == :kadai %>
          <%= link_to kougai.kadai.year_and_number, kougai.kadai, class: 'link-secondary' %>
        <% else %>
          <%= link_to kougai.student.url, class: 'link-secondary', target: '_blank' do %>
            <%= kougai.student.name %>
            <% if kougai.student.user %>
              <%= image_tag kougai.student.user.image_url, size: '24x24', class: 'border rounded-circle' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <h3 class="card-title h5">
        <%= link_to kougai.title, kougai.url, class: 'link-dark text-decoration-none', target: '_blank' %>
      </h3>
      <p class="card-text text-muted">
        <%= link_to kougai.url_domain, kougai.url, class: 'link-secondary text-decoration-none', target: '_blank' %>
      </p>
      <%= link_to icon('fas', 'book-open', '作品を読む'), kougai.url, class: 'btn btn-sm btn-outline-primary', target: '_blank' %>
    </div>
  </div>
</div>
