<%= link_to kadai_path(vote.work.kadai_id), class: 'list-group-item list-group-item-action' do %>
  <div class="d-flex justify-content-between mb-1">
    <span class="text-secondary">
      <%= image_tag vote.user.image_url, size: '24x24', class: 'border rounded-circle' %>
      <%= vote.user.twitter_screen_name %>
    </span>
    <small class="text-muted"><%= distance_of_time_in_words_to_now(vote.created_at) %>前</small>
  </div>
  <p class="mb-0">
    <span class="badge bg-<%= work_color(vote.work) %>"><%= vote.work.class.model_name.human %></span>
    <%= vote.work.student.name %>『<%= vote.work.title %>』に投票しました <%= icon('far', 'thumbs-up') %>
  </p>
<% end %>
