<div class="col">
  <section class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-start mb-1">
        <span class="text-secondary"><%= draft.student.name %></span>
        <% if draft.jissaku? %>
          <span class="badge bg-success">実作</span>
        <% else %>
          <span class="badge bg-info">梗概</span>
        <% end %>
      </div>
      <h5 class="card-title">
        <%= draft.title %>
      </h5>
      <p class="card-text">
        <%= link_to draft.url, class: 'link-secondary', target: '_blank', rel: 'noreferrer' do %>
          <%= icon('fas', 'external-link-alt', URI(draft.url).host) %>
        <% end %>
      </p>
      <%= simple_format draft.comment, class: 'card-text' %>
      <% if draft.student == current_user&.student %>
        <%= link_to '削除する', draft_path(draft), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: '本当に削除しますか？' } %>
      <% else %>
        <%= link_to '下書きを読む', draft.url, class: 'btn btn-sm btn-outline-primary stretched-link', target: '_blank' %>
      <% end %>
    </div>
  </section>
</div>
