<%= form_with model: draft do |form| %>
  <%= render 'error_messages', errors: draft.errors %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: 'form-label' %>
    <%= form.url_field :url, class: 'form-control', required: true %>
    <div class="form-text">
      <%= link_to 'カクヨムの下書き', 'https://kakuyomu.jp/help/entry/shared_draft', target: '_blank' %>
      や
      <%= link_to 'Google ドキュメント', 'https://document.new', target: '_blank' %>
      など下書きを読める外部サービスの URL
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :comment, class: 'form-label' %>
    <%= form.text_area :comment, class: 'form-control' %>
    <div class="form-text">
      見てほしい点やコメントの送付先など。140字以内
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check form-check-inline">
      <%= form.radio_button :kind, :kougai, class: 'form-check-input', checked: true %>
      <%= form.label :kind_kougai, '梗概', class: 'form-check-label' %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :kind, :jissaku, class: 'form-check-input' %>
      <%= form.label :kind_jissaku, '実作', class: 'form-check-label' %>
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
