<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= content_for?(:title) ? "#{content_for(:title)} - #{translate('app.title')}" : translate('app.title') %></title>
    <meta name="description" content="<%= content_for(:description).presence || translate('app.description') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/favicon' %>

    <%= render 'layouts/ogp' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQD93JBL02"></script>
    <script>
      window.dataLayer = window.dataLayer || []

      function gtag () {dataLayer.push(arguments)}

      gtag('js', new Date())
      gtag('config', 'G-EQD93JBL02', {
        'user_id': '<%= current_user&.id %>'
      })
    </script>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= render 'layouts/flash' %>

      <%= render 'modal_error' %>
      <%= render 'modal_require_login' unless current_user %>

      <main id="main">
        <%= yield %>
      </main>
      <footer class="text-center my-3">
        <ul class="list-inline">
          <li class="list-inline-item"><small>&copy; 2020-<%= Time.zone.now.year %> 裏SF創作講座</small></li>
          <li class="list-inline-item"><small><%= link_to icon('fab', 'twitter', 'Twitter'), twitter_profile_url('genron_sf_fun'), class: 'link-dark text-decoration-none', target: '_blank' %></small></li>
          <li class="list-inline-item"><small><%= link_to icon('fab', 'github', 'GitHub'), github_repo_url, class: 'link-dark text-decoration-none', target: '_blank' %></small></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
