<%
  provide :title, "#{@kadai.human_year_round}「#{@kadai.title}」"

  description = []
  description << "課題提示：#{@kadai.author}" if @kadai.author.present?
  description << "梗概締切：#{localize @kadai.kougai_deadline, format: :long}" if @kadai.kougai_deadline
  description << "実作締切：#{localize @kadai.jissaku_deadline, format: :long}" if @kadai.jissaku_deadline
  provide :description, description.join('、')

  content_for :head do
    javascript_pack_tag 'kadais-show'
  end
%>

<header class="card mb-3">
  <div class="card-body">
    <div class="card-text lead text-muted mb-1"><%= "#{@kadai.human_year_round} #{@kadai.author}" %></div>
    <h1 class="card-title mb-3"><%= @kadai.title %></h1>
    <ul class="card-text list-unstyled lead">
      <% if @kadai.kougai_deadline %>
        <li>
          梗概締切:
          <%= localize @kadai.kougai_deadline, format: :long %>
          <%= deadline_badge(@kadai.kougai_deadline) %>
        </li>
      <% end %>
      <% if @kadai.jissaku_deadline %>
        <li>
          実作締切:
          <%= localize @kadai.jissaku_deadline, format: :long %>
          <% if @kadai.kougai_deadline.nil? || @kadai.kougai_deadline_time.past? %>
            <%= deadline_badge(@kadai.jissaku_deadline) %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to_genron_sf @kadai.url %>
  </div>
</header>

<nav class="mb-3">
  <ul class="pagination justify-content-center">
    <% if (next_kadai = @kadai.next) %>
      <li class="page-item">
        <%= link_to term_kadai_path(next_kadai.year, next_kadai), class: 'page-link' do %>
          <% if next_kadai.year == @kadai.year %>
            <%= "« #{next_kadai.human_round}" %>
          <% else %>
            <%= "« #{next_kadai.human_year_round}" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% if (previous_kadai = @kadai.previous) %>
      <li class="page-item">
        <%= link_to term_kadai_path(previous_kadai.year, previous_kadai), class: 'page-link' do %>
          <% if previous_kadai.year == @kadai.year %>
            <%= "#{previous_kadai.human_round} »" %>
          <% else %>
            <%= "#{previous_kadai.human_year_round} »" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<% unless @kadai.jissaku_deadline.nil? %>
  <section class="mb-3" id="jissaku">
    <header class="border-bottom mb-3">
      <h2>
        実作
        <% if @kadai.jissakus_count > 0 %>
          <span class="badge rounded-pill bg-success"> <%= @kadai.jissakus_count %> 編 </span>
        <% end %>
      </h2>
    </header>

    <% if @kadai.jissaku_deadline_time.future? %>
      <div class="mb-3">
        <%= link_to icon('fas', 'pen-nib', '実作を投稿する'), new_term_kadai_jissaku_path(@kadai.year, @kadai), class: 'btn btn-outline-success' %>
      </div>
    <% end %>

    <% if @kadai.jissakus.exists? %>
      <div id="jissaku-list" data-jissakus-path="<%= term_kadai_jissakus_path(@kadai.year, @kadai) %>"></div>
    <% end %>
  </section>
<% end %>

<% unless @kadai.kougai_deadline.nil? %>
  <section class="mb-3" id="kougai">
    <header class="border-bottom mb-3">
      <h2>
        梗概
        <% if @kadai.kougais_count > 0 %>
          <span class="badge rounded-pill bg-info"><%= @kadai.kougais_count %> 編</span>
        <% end %>
      </h2>
    </header>

    <% if @kadai.kougai_deadline_time.future? %>
      <div class="mb-3">
        <%= link_to icon('fas', 'pen-nib', '梗概を投稿する'), new_term_kadai_kougai_path(@kadai.year, @kadai), class: 'btn btn-outline-info' %>
      </div>
    <% end %>

    <% if @kadai.kougais.exists? %>
      <div id="kougai-list" data-kougais-path="<%= term_kadai_kougais_path(@kadai.year, @kadai) %>"></div>
    <% end %>
  </section>
<% end %>

<% if !@kadai.links.empty? || current_user&.student&.genron_sf_id %>
  <section class="mb-3" id="link">
    <header class="border-bottom mb-3">
      <h2>関連リンク</h2>
    </header>

    <% unless @kadai.links.empty? %>
      <div class="list-group mb-3">
        <% @kadai.links.each do |link| %>
          <%= link_to link.url, class: 'list-group-item list-group-item-action', target: '_blank' do %>
            <%= link.title %>
            <small class="text-muted"><%= icon('fas', 'external-link-alt', link.url_host) %></small>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if current_user&.student&.genron_sf_id %>
      <section class="mb-3">
        <%= form_with model: @kadai.links.build, url: term_kadai_links_path(@kadai.year, @kadai) do |form| %>
          <div class="input-group">
            <%= form.url_field :url, class: 'form-control', placeholder: 'https://example.com/', required: true %>
            <%= form.submit '関連リンクを登録', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </section>
    <% end %>
  </section>
<% end %>
