<% provide :title, "#{@kadai.year_and_number}「#{@kadai.title}」" %>

<header class="card mb-3">
  <div class="card-body">
    <div class="card-subtitle lead text-muted mb-1"><%= "#{@kadai.year_and_number} #{@kadai.author}" %></div>
    <h1 class="card-title mb-3"><%= @kadai.title %></h1>
    <ul class="card-text list-unstyled lead">
      <% if @kadai.kougai_deadline %>
        <li>
          梗概締切:
          <%= localize @kadai.kougai_deadline, format: :long %>
          <%= deadline_badge(@kadai.kougai_deadline) %>
        </li>
      <% end %>
      <% if @kadai.jissaku_deadline %>
        <li>
          実作締切:
          <%= localize @kadai.jissaku_deadline, format: :long %>
          <% if @kadai.kougai_deadline.nil? || @kadai.kougai_deadline_time.past? %>
            <%= deadline_badge(@kadai.jissaku_deadline) %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to icon('fas', 'external-link-alt', '超・SF作家育成サイトで詳細を確認'), @kadai.genron_sf_url, class: 'btn btn-outline-primary', target: '_blank' %>
  </div>
  <% unless @kadai.links.empty? %>
    <div class="list-group list-group-flush">
      <% @kadai.links.each do |link| %>
        <%= link_to link.url, class: 'list-group-item list-group-item-action', target: '_blank' do %>
          <%= link.title %>
          <small class="text-muted"><%= icon('fas', 'external-link-alt', link.url_domain) %></small>
        <% end %>
      <% end %>
    </div>
  <% end %>
</header>

<% if current_user&.student&.genron_sf_id %>
  <section class="mb-3">
    <%= form_with model: @kadai.links.build, url: kadai_links_path(@kadai), local: true do |form| %>
      <div class="input-group">
        <%= form.url_field :url, class: 'form-control', placeholder: 'https://example.com/', required: true %>
        <%= form.submit '関連リンクを登録', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </section>
<% end %>

<nav class="mb-3">
  <ul class="pagination justify-content-center">
    <% if (previous_kadai = @kadai.previous) %>
      <li class="page-item">
        <%= link_to previous_kadai, class: 'page-link' do %>
          <% if previous_kadai.year == @kadai.year %>
            <%= "« #{previous_kadai.number_str}" %>
          <% else %>
            <%= "« #{previous_kadai.year_and_number}" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% if (next_kadai = @kadai.next) %>
      <li class="page-item">
        <%= link_to next_kadai, class: 'page-link' do %>
          <% if next_kadai.year == @kadai.year %>
            <%= "#{next_kadai.number_str} »" %>
          <% else %>
            <%= "#{next_kadai.year_and_number} »" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<% unless @kadai.jissaku_deadline.nil? %>
  <section class="mb-3">
    <header class="border-bottom pb-2 mb-3">
      <h2>実作</h2>
    </header>
    <% if @kadai.jissaku_deadline_time.future? %>
      <div class="mb-3">
        <%= link_to icon('fas', 'pen-nib', '実作を提出する'), new_kadai_jissaku_path(@kadai), class: 'btn btn-outline-success' %>
      </div>
    <% end %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
      <%= render @kadai.jissakus.includes(:score, :voters, student: :user), header: :student %>
    </div>
  </section>
<% end %>

<% unless @kadai.kougai_deadline.nil? %>
  <section class="mb-3">
    <header class="border-bottom pb-2 mb-3">
      <h2>梗概</h2>
    </header>
    <% if @kadai.kougai_deadline_time.future? %>
      <div class="mb-3">
        <%= link_to icon('fas', 'pen-nib', '梗概を提出する'), new_kadai_kougai_path(@kadai), class: 'btn btn-outline-info' %>
      </div>
    <% end %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
      <%= render @kadai.kougais.includes(:voters, student: :user), header: :student %>
    </div>
  </section>
<% end %>
